body {
    background-color: #af7070;
}

h3 {
    color: #aa6914;
}

h2 {
    color: crimson;
}

section {
    background-color: aquamarine;
}

.czerwony {
    color: red;
}

#css {
    background-color: bisque;
}

a {
    color: green;
}

section a {
    color: rgb(15, 209, 223);
}

.my-class p {
    background: violet;
    color: aliceblue;
}

.episodesRecenzion {
    background: #1644c5;
    color: rgb(218, 199, 199);
}