body {
    background-color: #af7070;
}

h3 {
    color: #80ce1a;
}

h2 {
    color: crimson;
}

section {
    padding: 16px;
}

.czerwony {
    color: red;
}

#css {
    background-color: bisque;
}

section a {
    color: rgb(15, 209, 223);
}

.my-class p {
    background: violet;
    color: aliceblue;
}

.episodesRecenzion {
    color: rgb(218, 199, 199);
}

.episodesRecenzion__header {
    color: #aa6914;
    text-align: center;
}

.episodesRecenzion__header--special {
    color: #80ce1a;
    margin: 20px auto;
}

.navigation {
    padding: 16px;
    background: wheat;
}

.navigation__link {
    color: #1644c5;
}

header {
    padding: 16px;
}

footer {
    padding: 16px;
}

.box {
    padding: 16px;
    margin: 10px auto;
    background-color: #1644c5;
    border-radius: 20px;
    width: 800px;
}

.box__title {
    margin: 10px auto;
    padding: 16px;
    width: 400px;
    text-align: center;
}